<div  ng-controller="adminController">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="form-input">
					<input class="form-control" type="date" name="">
				</div>
				<div class="form-input">
					<select class="form-control">
						<option value="">FINANCIAL YEAR</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
					</select>
				</div>
				<div class="form-input">
					<select class="form-control">
						<option value="">HALF YEAR</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>