<div class="form-group">
    <label for="name" >Employee Number</label>
    <input type="number" class="form-control" name="emp" placeholder="Employee Number" ng-model="formData.empno" required>
</div>
<div class="form-group">
    <label for="name" >Name</label>
    <input ng-disabled="!myForm.emp.$dirty" type="text" class="form-control" name="name" placeholder="Login Name" ng-model="formData.name" required>
</div>

<div class="form-group">
    <label for="email" >Password</label>
    <input ng-disabled="!myForm.name.$dirty" type="password" class="form-control" placeholder="Password          ( At least six characters)" name="password" ng-model="formData.password" required>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <button type="submit" ng-show="formData.password.length>6" ui-sref="form.payment" class="btn btn-block btn-info" ng-click="Login()">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
</div>
</div>
