<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <li style="margin-top: 35px;">
                    <a ui-sref="dashboard"> <i class="fa fa-tachometer"></i> Dashboard</a>
                </li>
                <li>
                    <a ui-sref="employees"> <i class="fa fa-users"></i> Employees</a>
                </li>
                <!--<li>
                    <a href="#Overview"> <i class="fa fa-tachometer"></i> Overview</a>
                </li>
                <li>
                    <a href="#home"> <i class="fa fa-tachometer"></i> Events
                    <ul class="sub-menu">
                        <li><a href="#">ABC</a></li>
                        <li><a href="#">ABC</a></li>
                        <li><a href="#">ABC</a></li>
                        <li><a href="#">ABC</a></li>
                        <li><a href="#">ABC</a></li> 
                    </ul>
                    </a>
                </li>
                <li>
                    <a href="#home"> <i class="fa fa-tachometer"></i> About</a>
                </li>
                <li>
                    <a href="#home"> <i class="fa fa-tachometer"></i> Services</a>
                </li>
                <li>
                    <a href="#home"> <i class="fa fa-tachometer"></i> Contact</a>
                </li>-->
            </ul>
        </div>